* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hamburguer {
    background-color: #000;
    color: #fff;
    width: 4rem;
    height: 1.5rem;
    position: fixed;
    z-index: 100;
    right: 3rem;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    text-align-last: center;
    font-size: 15px;
}

.hamburguer.show-menu {
    right: 0;
}

.line {
    width: 100%;
    height: 3rem;
    box-shadow: 0.2rem, 0.2rem, 2px white;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner {
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zum;
    animation-duration: 5s;
}

@keyframes zum {
    0% {
        transform: scale(1.5);
        margin-left: 0px;
        opacity: 0;
    }
    100% {
        transform: scale(1);
        margin-left: 300px;
        opacity: 1;
    }
}

.banner h1 {
    color: #fff;
    font-size: 2.5rem;
    font-family: cursive;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    animation-name: h1;
    animation-duration: 5s;
}

@keyframes h1 {
    0% {
        transform: translateY(10rem);
        margin-left: 0px;
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        margin-left: 300px;
        opacity: 1;
    }
}

.banner p {
    font-family: sans-serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    animation-name: p;
    animation-duration: 5s;
}

@keyframes p {
    0% {
        transform: translateY(10rem);
        margin-left: 0px;
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        margin-left: 300px;
        opacity: 1;
    }
}

.banner button {
    font-family: sans-serif;
    color: #FFF;
    background-color: #000;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: none;
    letter-spacing: .2rem;
    border-radius: 9px;
    animation-name: p;
    animation-duration: 5s;
    cursor: pointer;
    margin: 0;
}

.banner button a {
    color: #fff;
}

.banner button a:hover {
    background-color: #000;
    color: #fff;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #000066;
    background: -webkit-linear-gradient(to right, #fff00f, #000, #000066);
    background: linear-gradient(to right, #fff00f, #000, #000066);
    right: -20rem;
    transition: all 1s;
}

.sidebar.show-menu {
    right: 0;
}

.menu {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(50%, 50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: sans-serif;
    font-size: 2rem;
    color: #fff;
    transition: color 1s;
}

.menu-link:hover {
    color: white;
}

.social-media {
    background: #000066;
    background: -webkit-linear-gradient(to right, #fff00f, #000, #000066);
    background: linear-gradient(to right, #fff00f, #000, #000066);
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    background: #fff;
    color: black;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 2s;
}

.social-media i:hover {
    background-color: brown;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 4rem);
}

.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 4 / 5;
}

.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 7 / -1;
}

.conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5) {
    grid-column: 11 /14;
    grid-row: 4 /6;
}

.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 7 / -1;
}

.sessao-conhecimentos {
    background: #000066;
    background: -webkit-linear-gradient(to right, #000066, #000, #800000, #000, #000066);
    background: linear-gradient(to right, #000066, #000, #800000, #000, #000066);
    color: white
}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1 {
    font-family: sans-serif;
    font-size: 4rem;
    color: #FFFF00;
    width: 100%;
    text-align: center;
    background: #000066;
    background: -webkit-linear-gradient(to right, #000066, #000, #800000, #000, #000066);
    background: linear-gradient(to right, #000066, #000, #800000, #000, #000066);
    border-bottom: solid 30px #000;
    margin-bottom: 1.5rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.conhecimento-header h3 {
    color: black;
    font-size: 2rem;
}

.conhecimento-text p {
    font-size: 1.5rem;
}

.sessao-videos {
    width: 100%;
    height: 100%;
}

.sessao-videos h1 {
    margin-top: 10%;
    text-align: center;
    color: #fff;
    margin-bottom: 5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.sessao {
    width: 90%;
    background-color: #000;
    margin-top: -45%;
    margin-left: 5%;
    align-items: center;
    padding: 15%;
    -moz-user-select: all;
}

.sessao button {
    font-size: 1.4rem;
    color: firebrick;
    background-color: rgba(0, 0, 0, .4);
    margin-top: 15%;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.sessao button:hover {}

.sessao h1 {
    color: #fff;
    margin-top: -15%;
    text-align: center;
    font-size: 2.5rem;
}

.sessao p {
    color: #fff;
    text-align: center;
    font-size: 2rem;
}